<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
    <title>Change Apocrita passwords</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/prm.css" />
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/prm.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    
    <div id="headertop"> <h2 class="form-signin-heading text-center">ITS Research Services Password Change</h2></div>
    <div class="container">
    
      <div class="alert alert-success" role="alert"><strong>Your new Apocrita password has now been set, you will receive email confirmation of this action shortly.</strong><br/>You will be redirected to the original page.</div>
      <div> <a href="/"><button type="button" class="btn btn-default">Go Back</button></a></div>
    </div>
    <script type="text/JavaScript">
      setTimeout(function () { window.location.href = "/"; }, 5000); 
    </script>
  </body>
</html>
